// breakpoints
$breakpoint-smallest-phone: 374px;
$breakpoint-smaller-phone: 413px;
$breakpoint-phone: 480px;
$breakpoint-tablet: 767px;
$breakpoint-tablet-portrait: 979px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-small: 1220px;
$breakpoint-large: 1280px;
$breakpoint-huge: 1400px;
