// button
button {
	cursor: pointer;

	&:focus {
		outline: none;
	}

	&.disabled {
		cursor: default;
	}
}

.btn {
	border: 0;
	border-radius: rem(5);
	color: $white;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	padding: rem(18) rem(24);
	font-size: rem(14);
	font-family: $secondary-font;
	font-weight: $bold;
	font-weight: $medium;
	letter-spacing: 1.2px;

	&--primary {
		background-color: $blue-1;
	}

	&--lrg {
		font-size: rem(16);
	}

	&--full {
		width: 100%;
	}
}

.btn-icon {
	background-color: transparent;
	border: none;
	padding: 0;
}
